<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}" />
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>About FBLA Quiz</h1>
            <br />
        </div>

        <div class="row">
            <p>FBLA Quiz is a web application that was developed by Reyansh for the FBLA coding and programming event.
            </p>
        </div>
    </div>
</body>