<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>FBLA Quiz</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}" />
  <meta name="google-signin-client_id"
    content="617126747783-9ag356g7b04sn88ibo59ccie741h9ikt.apps.googleusercontent.com">
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link type="text/css" href="css/ui-lightness/jquery-ui-1.8.11.custom.css" rel="stylesheet" />  
  <script src = "https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
    integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
    integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
    crossorigin="anonymous"></script>
  <script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
      });
      window.location.href = "logout";
    }

    function onLoad() {
      gapi.load('auth2', function () {
        gapi.auth2.init();
      });
    }
  </script>
  <script type=text/javascript src="{{url_for('static', filename='dashboard.js') }}"></script>
</head>

<body>
  <nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">FBLA Dashboard</a>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" id="inputEmail" href="#">{{email}}</a>
        </li>
      </ul>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#" onclick="signOut()">Sign out</a>
        </li>
      </ul>
    </form>
  </nav>
  <div class="wrapper">
    <nav id="sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column sidebar">
          <li class="nav-item">
            <a id="getstartedlink" class="nav-link" href="#getStarted" onclick="populateGetStartedPage()" data-toggle="tooltip"
              data-placement="top" title="View a list of instructions on how to use FBLA Quiz">
              <span data-feather="navigation"></span>
              Navigation Help
            </a>
          </li>
          <li class="nav-item">
            <a id="quizlink" class="nav-link active" href="#" onclick="populateQuizStartPage()" data-toggle="tooltip"
              data-placement="top" title="Take a quiz. Resume a previous saved quiz, or start a new one.">
              <span data-feather="file"></span>
              Take a Quiz
            </a>
          </li>
          <li class="nav-item">
            <a id="reportslink" class="nav-link" href="#reports" onclick="populateReports()" data-toggle="tooltip"
              data-placement="top" title="You can view your historical quiz reports here">
              <span data-feather="save"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a id="settingslink" class="nav-link" href="#settings" onclick="populateSettings()" data-toggle="tooltip"
              data-placement="top" title="Set your preferences and customize your reports">
              <span data-feather="settings"></span>
              Settings
            </a>
          </li>
          <li class="nav-item">
            <a id="helplink" class="nav-link" href="#help" onclick="populateHelpPage()" data-toggle="tooltip"
              data-placement="top" title="Get help and frequently asked questions">
              <span data-feather="help-circle"></span>
              FAQs
            </a>
          </li>
          <li class="nav-item">
            <a id="projectDocumentation" class="nav-link" href="https://rey-fbla-quiz-docs.herokuapp.com/" data-toggle="tooltip"
              data-placement="top" title="FBLA Quiz Project API documentation" target="blank">
              <span data-feather="book-open"></span>
              API documentation
            </a>
          </li>
          <li class="nav-item">
            <a id="aboutlink" class="nav-link" href="#about" onclick="populateAboutPage()" data-toggle="tooltip"
              data-placement="top" title="About FBLA Quiz">
              <span data-feather="info"></span>
              About
            </a>
          </li>
        </ul>

      </div>
    </nav>


    <div id="content">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info" data-toggle="tooltip" data-placement="top"
          title="Toggle Sidebar">
          <span>&#60;</span>
          <i class="fas fa-align-left"></i>
        </button>
      </div>
      <div class="container-fluid">
        <div id="dynamicContent" class="d-flex flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <div class="container quiz-options">
            {% if quiz_in_progress == True %}
            <div class="row">
              <div class="col">
                <button class="btn btn-outline-primary btn-block" onclick="generateQuiz(true)">Resume your previous
                  quiz</button>
              </div>
            </div>
            <div class="row justify-content-md-center">

              <div class="col">
                <hr>
              </div>
              <div class="col-auto">OR</div>
              <div class="col">
                <hr>
              </div>
            </div>
            {% endif %}
            <button class="btn btn-outline-primary btn-block" onclick="generateQuiz(false)">Start a New Quiz</button>
            <br>
            <div class="row justify-content-md-center">
              <div id="loading" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>

          </div>
          <br>

        </div>
      </div>
    </div>
  </div>

  <button class="open-button" onclick="openForm()">Need help?</button>

  <div class="chat-popup" id="myForm">
    <form onsubmit="return false;" class="form-container">
      <h4>Interactive Q&A</h4>

      <label>Begin by typing any question</label>
      <textarea style="font-size: 9pt" id='chatwindow' required readonly></textarea>
      <input type="text" class="form-control" id='typedmessage' placeholder="Type any question.." required></input>

      <button type="button" id="sendQuestion" onclick="responsemessage()" class="btn" disabled>Send</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
  </div>

  <div id="dialog" style="display:none">
    <iframe id="pdfiframe" style="width: 700px; height: 500px;" scrolling="auto" frameborder="1"></iframe>
</div> 
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script>
    feather.replace()
  </script>
  <script>
    var $loading = $('#loading').hide();
    if (performance.navigation.type == 2) {
      location.reload(true);
    }
    //Gets URL hash value, in case user comes directly to a URL with a hash value

    var hash = window.location.href.split('#').pop();

    function make_active(item) {
      document.getElementsByClassName("nav-link active")[0].className = "nav-link";
      document.getElementById(item).className = "nav-link active";
    }

    if (hash == 'reports') {
      populateReports();
    }
    else if (hash == 'settings') {
      populateSettings();
    }
    else if (hash == 'about') {
      populateAboutPage();
    }
    else if (hash == 'help') {
      populateHelpPage();
    }
    else if(hash == "getStarted"){
      populateGetStartedPage();
    }
  </script>
  <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

</body>

</html>