<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}" />
    </head>

    <body>
        <div class="table-responsive">
            <div class="text-center">
                <h2>Navigation Help</h2>
                <br/>
                <button class="btn btn-primary" onclick="populateQuizStartPage()">Skip to take a quiz. >></button>
            </div>
            <br/>
            <table class="table">
                <tbody>
                    <tr>
                        <td>After logging in, you will be redirected to the home page, where you can take a 5 question
                            randomized FBLA quiz by clicking <button class="btn btn-outline-primary">Start a new
                                quiz</button></td>
                    </tr>
                    <tr>
                        <td>Your quiz progress is saved and you may leave to another window or even close your browser. You
                            can resume your quiz anytime by clicking <button class="btn btn-outline-primary">Resume your
                                previous quiz</button></td>
                    </tr>
                    <tr>
                        <td>On the quiz page, when you click <button class="btn btn-primary">Submit</button> , you will be
                            taken to a page where you can see your downloadable/printable quiz report</td>
                    </tr>
                    <tr>
                        <td>On the navigation bar, when you click on <b>Reports</b>, you will see a list of historial quiz
                            reports, including date and time taken, your score, and the link to generate your PDF report.
                        </td>
                    </tr>
                    <tr>
                        <td>These reports can be customized in the <b>Settings</b> tab on the navigation sidebar. You can
                            choose what to include in your score report, and you can customize other things like font size
                        </td>
                    </tr>
                    <tr>
                        <td>This application includes an intelligent help feature powered by natural language processing.
                            Click on <button style="background-color: #406278;" class="btn btn-primary">Need Help? (Interactive Q&A)</button>
                            in the bottom right corner of the screen, ask it a question, and it will respond with a list of
                            questions and answers that match it.</td>
                    </tr>
                    <tr>
                        <td>You can view a list of frequently asked questions in the <b>FAQs</b> tab</td>
                    </tr>
                <tbody>
            </table>
            <br>
            <div class="text-center">
                <button class="btn btn-primary" onclick="populateQuizStartPage()">Click here to continue and take a quiz.
                    >> </button>
            </div>
        </div>
    </body>

</html>