<head>
  <title>FBLA Quiz Sign-in page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-signin-client_id"
    content="617126747783-9ag356g7b04sn88ibo59ccie741h9ikt.apps.googleusercontent.com">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>
  <script type=text/javascript src="{{url_for('static', filename='login.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
  <script>
    // Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyBtwXtdiOpGQpU806OTt1VuL_uceWDzO1k",
      authDomain: "firestoredemo-2.firebaseapp.com",
      projectId: "firestoredemo-2",
      storageBucket: "firestoredemo-2.appspot.com",
      messagingSenderId: "617126747783",
      appId: "1:617126747783:web:0e5a6d7013f6032b92e222"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  </script>
</head>

<body class="text-center">
  <div class="container">
    <h2>FBLA Quiz Sign In</h2>
    <div class="row">
      <div class="col">
        <form class="form-signin">
          <!-- Email and Password input -->
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <div id="errorMessage" class="alert alert-danger" role="alert"></div>

          <!-- Submit button -->
          <input type="button" onclick="SignInWithEmail()" value="Sign in" class="btn btn-primary btn-block" />

          <!-- Register button -->
          <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal"
            data-whatever="@getbootstrap">Register</button>

          <!-- Reset password button -->
          <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#resetPassword"
            data-whatever="@getbootstrap">Reset Password</button>
        </form>
      </div>
    </div>
    <div class="row justify-content-md-center">

      <div class="col">
        <hr>
      </div>
      <div class="col-auto">OR</div>
      <div class="col">
        <hr>
      </div>

    </div>
    <div class="row justify-content-md-center">
      <div class="col col-md-auto">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-md-auto">
        <span class="badge"><i>*For Google Sign-in, cookies need to enabled. </i></span>
        <br />
      </div>
    <br />
    <div class="row justify-content-md-center">

      <div class="col">
        <hr>
      </div>
      <div class="col-auto">OR</div>
      <div class="col">
        <hr>
      </div>

    </div>
    <div class="row justify-content-md-center">
      <div class="col col-md-auto">
        <input type="button" onclick="signInAsGuest()" value="Continue as a Guest" class="btn btn-warning btn-block" />
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-md-auto">
        <span class="badge"><i>*Please note, for guest, quiz progress and other features are shared. </i></span>
        <br />
        <span class="badge"><i>For exclusive access, please register above using email-id and password or use Google
            Sign-in </i></span>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Register for FBLA quiz</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <label for="registerEmail" class="sr-only">Email address</label>
            <input type="email" id="registerEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="registerPassword" class="sr-only">Password</label>
            <input type="password" id="registerPassword" class="form-control" placeholder="Password" required>
            <label for="registerConfirmPassword" class="sr-only">Confirm Password</label>
            <input type="password" id="registerConfirmPassword" class="form-control" placeholder="Confirm Password"
              required>
          </form>
        </div>
        <div id="registerErrorMessage" class="alert alert-danger" role="alert"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" onclick="RegisterWithEmail()">Register</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="resetPassword" tabindex="-1" role="dialog" aria-labelledby="resetPasswordLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="resetPasswordLabel">Reset Password</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <label for="registerEmail" class="sr-only">Email address</label>
            <input type="email" id="resetPasswordEmail" class="form-control" placeholder="Email address" required
              autofocus>
          </form>
        </div>
        <div id="resetPasswordSuccess" class="alert alert-success" role="alert"></div>
        <div id="resetPasswordErrorMessage" class="alert alert-danger" role="alert"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" onclick="ResetPassword()">Reset</button>
        </div>
      </div>
    </div>
  </div>
</body>

<script>
  $(document).ready(function () {
    $("#errorMessage").hide();
    $("#registerErrorMessage").hide();
    $("#resetPasswordSuccess").hide();
    $("#resetPasswordErrorMessage").hide();
  });
</script>