<!DOCTYPE html>
<html lang="en">

<head>
  <title>FBLA quiz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename = 'validation.js')}}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}" />
  <script>

    function updatequiz() {
      console.log("inside...")
    }
  </script>
</head>

<body>
  <br>
  <div class="container-fluid w-100">
    <form id="quizForm" class="needs-validation" method="POST">
      <fieldset id = "toggleEnabled" enabled>
      <!-- <form class="needs-validation" action="/quiz" method="POST"> -->
        {% for num, question in enumerate(questions) %}
      {% if question['type'] == 'multiple_choice' %}
      <div class="form-group">
        <label>{{num+1}}. {{question['question']['content']}}</label>
        <select select id="multiple_choice" class="custom-select" name="multiple_choice" required
          onchange="updatequiz()">
          <option value="">Choose an answer</option>
          {% for i, option in enumerate(question['question']['options']) %}
          <option value="{{option}}">{{option}}</option>
          {% endfor %}
        </select>
        <div id = "multiple_choice_result" style="display:none"></div>
      </div>
      {% elif question['type'] == 'fill_in_the_blank' %}
      <div class="form-group">
        <label>{{num+1}}. {{question['question']['content']}}</label>
        <input id="fill" type="text" class="form-control" name="fill_in_the_blank" placeholder="Fill in the blank"
          onchange="updatequiz()" required>
          <div id = "fill_in_the_blank_result" style="display:none"></div>
      </div>
      {% elif question['type'] == 'checkbox' %}
      <div class="form-group">
        {% if type(question['question']['answer']) == 'str' or len(question['question']['answer']) == 1 %}
          <label>{{num+1}}. {{question['question']['content']}}</label>
          <div id="checkbox_options" class="form-check">
              {% for option in question['question']['options'] %}

                <label class="form-check-label"><input id="{{option}}" class="form-check-input" type="radio"
                    value="checkbox" name="{{option}}" onchange="updatequiz()">{{option}}</label><br />

              {% endfor %}

          {% else %}
          <label>{{num+1}}. {{question['question']['content']}} Select all that apply.</label>
            <div id="checkbox_options" class="form-check">
            {% for option in question['question']['options'] %}

            <label class="form-check-label"><input id="{{option}}" class="form-check-input" type="checkbox"
                value="checkbox" name="{{option}}" onchange="updatequiz()">{{option}}</label><br />

            {% endfor %}
            <!-- End the for loop -->
          {% endif %}
        </div>
        <div id = "checkbox_result" style="display:none"></div>
      </div>
      {% elif question['type'] == 'true_false' %}
      <label>{{num+1}}. {{question['question']['content']}}</label>
      <select id="true_false" class="custom-select" name="true_false" required onchange="updatequiz()">
        <option value="">True or False?</option>
        <option value="True">True</option>
        <option value="False">False</option>
      </select>
      <div id = "true_false_result" style="display:none"></div>
      
      {% elif question['type'] == 'matching' %}
      <label>{{num+1}}. {{question['question']['question']['content']}}</label>
      <br />
      <div id="matching" class="container-fluid">
        {% for prompt in question['question']['question']['left_side'] %}
        <div class="row">
          <div class="col-sm">
            <input class="form-control" value="{{prompt}}" readonly></input>
          </div>
          <div class="col-sm">
            <select class="custom-select" name="matching_{{prompt}}" onchange="updatequiz()" required>
              <option value="" selected>Match</option>
              {% for answer in question['question']['question']['right_side'] %}
              <option value="{{answer}}">{{answer}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% endfor %}
        <div id = "matching_result" style="display:none"></div>
        
      </div>
      {% endif %}
      <br/>
      {% endfor %}
      <button id= "quizSubmitButton" onclick = "submitQuiz()" type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
    </form>
    <a style = "display:none" id = "generateReport" class="btn btn-outline-primary" target="blank">Generate Report</a>
    <br>
    <div style="display:none" id="quizScore" class="alert alert-success center-block" role="alert"></div>
  </div>
</body>