<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Dashboard Template for Bootstrap</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css">
  <!-- Custom styles for this template -->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}" />
  <meta name="google-signin-client_id" content="617126747783-9ag356g7b04sn88ibo59ccie741h9ikt.apps.googleusercontent.com">
  
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
  <script>
    function signOut() {
      console.log('inside signout');
      var auth2 = gapi.auth2.getAuthInstance();

      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
      window.location.href = "logout";
    }

    function onLoad() {
      gapi.load('auth2', function() {
        gapi.auth2.init();
      });
    }
  </script>
  <style>
    /* Button used to open the chat form - fixed at the bottom of the page */
    .open-button {
      background-color:#406278;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 23px;
      right: 28px;
      width: 280px;
    }

    /* The popup chat - hidden by default */
    .chat-popup {
      display: none;
      position: fixed;
      bottom: 0;
      right: 15px;
      border: 3px solid #f1f1f1;
      z-index: 9;
    }

    /* Add styles to the form container */
    .form-container {
      max-width: 300px;
      padding: 10px;
      background-color: white;
    }

    /* Full-width textarea */
    .form-container textarea {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
      resize: none;
      min-height: 400px;
    }

    /* When the textarea gets focus, do something */
    .form-container textarea:focus {
      background-color: #ddd;
      outline: none;
    }

    /* Set a style for the submit/send button */
    .form-container .btn {
      background-color:#406278;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom: 10px;
      opacity: 0.8;
    }

    /* Add a red background color to the cancel button */
    .form-container .cancel {
      background-color: #406278;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover,
    .open-button:hover {
      opacity: 1;
    }

    .quiz-options {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
    
  </style>
</head>

<body>
  <nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">FBLA Dashboard</a>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" id="inputEmail" href="#">{{email}}</a>
        </li>
      </ul>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#" onclick="signOut()">Sign out</a>
        </li>
      </ul>
    </form>
  </nav>
  <!-- <div class="container-fluid"> -->
    <!-- <div class="row"> -->
      <div class="wrapper">
        <nav id="sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column sidebar">
            <li class="nav-item">
              <a id = "quizlink" class="nav-link active" href="#" onclick="populateQuizStartPage()" data-toggle="tooltip" data-placement="top" title="Take a quiz. Resume a previous saved quiz, or start a new one.">
                <span data-feather="file"></span>
                Take a Quiz
              </a>
            </li>
            <li class="nav-item">
              <a id = "reportslink" class="nav-link" href="#reports" onclick="populateReports()" data-toggle="tooltip" data-placement="top" title="You can view your historical quiz reports here">
                <span data-feather="bar-chart-2"></span>
                Reports
              </a>
            </li>
            <li class="nav-item">
              <a  id = "settingslink" class="nav-link" href="#settings" onclick="populateSettings()" data-toggle="tooltip" data-placement="top" title="Set your preferences and customize your reports">
                <span data-feather="settings"></span>
                Settings
              </a>
            </li>
            <li class="nav-item">
              <a id = "aboutlink" class="nav-link" href="#about" onclick="populateAboutPage()" data-toggle="tooltip" data-placement="top" title="About FBLA Quiz">
                <span data-feather="info"></span>
                About
              </a>
            </li>
            <li class="nav-item">
              <a id = "helplink" class="nav-link" href="#help" onclick="populateHelpPage()" data-toggle="tooltip" data-placement="top" title="Get help and frequently asked questions">
                <span data-feather="help-circle"></span>
                Help
              </a>
            </li>
          </ul>

        </div>
      </nav>

      <!-- <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"> -->
        <div id="content">

          <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
              <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Toggle Sidebar">
          <span>&#60;</span>
          <i class="fas fa-align-left"></i>
      </button>
              </div>
      <div class="container-fluid">
        <div id="dynamicContent" class="d-flex flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <div class="container quiz-options">
          {% if quiz_in_progress == True %}
          <div class="row">
            <div class="col">
            <button class = "btn btn-outline-primary btn-block" onclick="generateQuiz(true)">Resume your previous quiz</button>
            </div>
          </div>
          <div class="row justify-content-md-center">

            <div class="col"><hr></div>
            <div class="col-auto">OR</div>
            <div class="col"><hr></div>    
          </div>
          {% endif %}
          <button class = "btn btn-outline-primary btn-block" onclick="generateQuiz(false)">Start a New Quiz</button>
          <br>
          <div class="row justify-content-md-center">
              <div id = "loading" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
          </div>
          
        </div>
          <br>
          
        </div>
              </div>
          <!-- </nav> -->
        </div>
      <!-- </main> -->
      </div>
    <!-- </div> -->
  <!-- </div> -->

  <button class="open-button" onclick="openForm()">Chat</button>

  <div class="chat-popup" id="myForm">
    <form onsubmit = "return false;" class="form-container">
      <h1>Get Help</h1>

      <label><b>Type a question</b></label>
      <textarea id='chatwindow' required readonly></textarea>
      <input type="text" class="form-control" id='typedmessage' placeholder="Type message.." required></input>

      <button type="button" onclick="responsemessage()" class="btn">Send</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
  </div>

  <!-- Icons -->
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script>
    feather.replace()
  </script>


  <!-- Graphs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
        datasets: [{
          data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
          lineTension: 0,
          backgroundColor: 'transparent',
          borderColor: '#007bff',
          borderWidth: 4,
          pointBackgroundColor: '#007bff'
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: false
            }
          }]
        },
        legend: {
          display: false,
        }
      }
    });
  </script>

  <script>
    var $loading = $('#loading').hide();
    if(performance.navigation.type == 2){
      location.reload(true);
    }
    
    var hash = window.location.href.split('#').pop();
    //var originalHTML = document.getElementById("dynamicContent").innerHTML;
    //console.log(hash);

    function make_active(item){
      //var existing_active = getElementsByClassName("nav-link active")[0];
      
      // document.getElementsByClassName("nav-link active")[0].style.color ="white"; 
      document.getElementsByClassName("nav-link active")[0].className = "nav-link";
      document.getElementById(item).className = "nav-link active";
      // document.getElementById(item).style.color ="deepskyblue";
    }
  
    if(hash == 'reports'){
      populateReports();
    }
    else if(hash == 'settings'){
      populateSettings();
    }
    else if(hash == 'about'){
      populateAboutPage();
    }
    else if(hash == 'help'){
      populateHelpPage();
    }

    function populateQuizStartPage(){
      location.hash = "";
      location.reload();
    }

    function populateReports() {
      make_active('reportslink');
      $.get('reports', {},
        function (response) {
          document.getElementById("dynamicContent").innerHTML = response
        });
    }

    function generateQuiz(quiz_in_progress) {
      $loading.show();
      if (quiz_in_progress) {
        $.get('quiz?quiz_in_progress=true', {},
        function (response) {
          $loading.hide();
          document.getElementById("dynamicContent").innerHTML = response
        });
      }
      
      else{
        $.get('quiz?quiz_in_progress=false', {},
        function (response) {
          document.getElementById("dynamicContent").innerHTML = response
        });
      }
    }

    function populateSettings() {
      make_active('settingslink');
      $.get('settings', {},
        function (response) {
          document.getElementById("dynamicContent").innerHTML = response
        });
    }

    function populateAboutPage(){
      make_active('aboutlink');
      $.get('about', {},
        function (response) {
          document.getElementById("dynamicContent").innerHTML = response
        });
    }
    function populateHelpPage(){
      make_active('helplink')
      $.get('help', {},
      function (response) {
        document.getElementById("dynamicContent").innerHTML = response
      })
    }


    function updatequiz() {
      //console.log("inside..." + document.getElementById("true_false").value)
      var tfval = document.getElementById("true_false").value;
      //console.log("inside..." + document.getElementById("multiple_choice").value)
      var mcval = document.getElementById("multiple_choice").value;
      //console.log("inside..." + document.getElementById("fill").value);
      var fillblankval = document.getElementById("fill").value;

      var nodes = document.getElementById('checkbox_options').childNodes;
      var checkbox_answers = [];
      for (var i = 0; i < nodes.length; i++) {
        {
          //console.log(nodes[i]);
          var labelChildNodes = nodes[i].childNodes;
          for (var j = 0; j < labelChildNodes.length; j++) {
            //console.log(labelChildNodes[j].nodeName);    
            if (labelChildNodes[j].nodeName == 'INPUT' && document.getElementById(labelChildNodes[j].id).checked) {
              if (labelChildNodes[j + 1].nodeName == '#text') {
                //console.log(labelChildNodes[j+1].nodeValue);
                checkbox_answers.push(labelChildNodes[j + 1].nodeValue);
                //console.log("Array" + checkbox_answers.toString());
              }
            }
            j = j + 1;
          }
        }
      }

      
      var nodes = document.getElementById('matching').childNodes;
    var matching_prompts_answers = [];
    var matching_prompts_answer = {};
    for (var i = 0; i < nodes.length; i++) {
      if (nodes[i].nodeName != '#text') {
        //console.log(nodes[i]);
        var labelChildNodes = nodes[i].childNodes;
        var prompt = '';
        //for each row make dict of left-side with right-side selected.
        for (var j = 0; j < labelChildNodes.length; j++) {

          if (labelChildNodes[j].nodeName != '#text') {
            var bothsideNodes = labelChildNodes[j].childNodes;
            

            for (var k = 0; k < bothsideNodes.length; k++) {
              //console.log("forloop begin, node: " + bothsideNodes[k].nodeName + " prompt: " + prompt);
              // child node would be one of left-side or right-side.
              

              if (bothsideNodes[k].nodeName != '#text') {
                // left side.
                if (bothsideNodes[k].nodeName == 'INPUT') {
                  //matching_prompts_answer[bothsideNodes[k].value] = ''
                  //console.log(bothsideNodes[k].value);
                  prompt = bothsideNodes[k].value;
                  //console.log(prompt);
                }
                if (bothsideNodes[k].nodeName == 'SELECT') {
                  //console.log(prompt);
                  matching_prompts_answer[prompt] = bothsideNodes[k].value;
                  //console.log(matching_prompts_answer);  
                  //matching_prompts_answers.push(matching_prompts_answer);
                }
              }
            }
          }
        }

      }
    }

      var quiz_json = { "true_false_answer": tfval, "multiple_choice_answer": mcval, "fillblank_answer": fillblankval, "checkbox_answers": checkbox_answers, "matching": matching_prompts_answer}
      console.log(JSON.stringify(quiz_json))

      //$.post('updateCurrentQuizState', {quiz_json});

      $.ajax({
        type: 'POST',
        url: 'updateCurrentQuizState',
        data: JSON.stringify(quiz_json),
        //success: function(data) { alert('data: ' + data); },
        contentType: "application/json",
        dataType: 'json'
      });
    }


    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
    function responsemessage() {
      // send request to python and get answer, update textarea
      var quiz_json = { "question": document.getElementById("typedmessage").value }
      console.log(JSON.stringify(quiz_json))
      $.ajax({
        type: 'POST',
        url: 'getHelp',
        data: JSON.stringify(quiz_json),
        success: function (data) {
          var qastring = '';
          for (i = 0; i < data.length; i++) {
            var qIndex = i + 1;
            qastring = qastring + "\r\n\r\n" + "Q" + qIndex + ": " + data[i]['question'] + "\r\n" + "Answer: " + data[i]['answer'];
          }
          document.getElementById("chatwindow").value = document.getElementById("chatwindow").value + '\r\n' + "--------------------" +
            '\r\n' + "--------------------" + '\r\n' +
            "Your question: " + document.getElementById("typedmessage").value + '\r\n' + '\r\n' + 'We found below help for your question' + '\r\n' + qastring + '\r\n';
          document.getElementById("typedmessage").value = '';
          var textarea = document.getElementById('chatwindow');

          textarea.scrollTop = textarea.scrollHeight;

        },
        contentType: "application/json",
        dataType: 'json'
      });

    }

    $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                if ($(this).find('span').text() == ">"){
                  $(this).find('span').text("<");
                }
                else {
                  $(this).find('span').text(">");
                }
                
            });
        });
  </script>
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

</body>

</html>