<!DOCTYPE html>
<html lang="en">

<head>
  <title>FBLA quiz taker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav ml-auto">
      <button class="btn btn-outline-primary">
        <a class="nav-link" href="/takequiz"> Take a Quiz</a>
      </button>
      {% if user == 'None'%}
      <button class="btn btn-outline-primary">
        <a class="nav-link" href="/login">Sign In</a>
      </button>
      {% else %}
      <div class="btn-group dropleft">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          {{user}}
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/logout">Logout</a>
          <!-- Dropdown menu links -->
        </div>
      </div>
      {% endif %}
    </ul>
  </nav>
  <br>

  <div class="container-fluid">
    <h3 class="display-4" style="text-align:center;">FBLA Quiz Taker</h3>
    <img src="https://www.fbla-pbl.org/media/FBLA-Color-web.png" alt="FBLA logo" class="rounded mx-auto d-block"
      width="500" height="550">
    <p class="lead" style="text-align:center;">Paragraph</p>
    <p class="lead" style="text-align:center;">Sign-in to get started!</p>
  </div>

</body>

</html>