<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login to FBLA Quiz Taker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script type=text/javascript src="{{url_for('static', filename='validation.js') }}"></script>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav ml-auto">
      <button class="btn btn-outline-primary">
        <a class="nav-link" href="/">Back to Home</a>
      </button>
    </ul>
  </nav>
  <br>
  <div class = "col-lg-6 offset-lg-3">
<form class="needs-validation" novalidate action="/login" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Username or email</label>
    <input type="text" class="form-control" name= "Username"  id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email or username" required>
    <div class="invalid-feedback">Please fill out this field.</div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" name= "Password" id="exampleInputPassword1" placeholder="Password" required>
    <div class="invalid-feedback">Please fill out this field.</div>
  </div>
  <button type="submit" class="btn btn-primary">Sign In</button>
</form>
</div>
<br>
<p style="text-align:center;">Don't have an account? <a href="/register">Create one</a> </p>
{% if message != "" %}
<div class="alert alert-danger" role="alert">
  <h1 class = "lead" style = "text-align:center;">{{message}}</h1>
</div>
{% endif %}
</body>