<!DOCTYPE html>
<html lang="en">

<head>
  <title>FBLA quiz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script type = "text/javascript" src ="{{url_for('static', filename = 'validation.js')}}"></script>
</head>

<body>

<!--  <nav class="navbar navbar-expand-sm bg-light">-->
<!--    <ul class="navbar-nav ml-auto">-->
<!--      <button class="btn btn-outline-primary">-->
<!--        <a class="nav-link" href="/">Exit Quiz</a>-->
<!--      </button>-->
<!--    </ul>-->
<!--  </nav>-->
  <br> 
  <div class = "col-lg-6">
    <form class = "needs-validation" action="/quiz" method="POST">
      {% for question in questions %}
        {% if question['type'] == 'multiple_choice' %}
        <div class = "form-group">
          <label>{{question['question']['content']}}</label>
            <select class="custom-select" name="multiple_choice" required>
              <option value="">Choose an answer</option>
              {% for i, option in enumerate(question['question']['options']) %}
              <option value="{{option}}">{{option}}</option>
              {% endfor %}
            </select>
        </div>
        {% elif question['type'] == 'fill_in_the_blank' %}
        <div class="form-group">
          <label>{{question['question']['content']}}</label>
          <input type= "text" class="form-control" name= "fill_in_the_blank" placeholder="Fill in the blank" required>
        </div>
          {% elif question['type'] == 'checkbox' %}
          <div class="form-group">
            <label>{{question['question']['content']}}</label>
              {% for i, option in enumerate(question['question']['options']) %}
              <div class="checkbox">
                <label><input type="checkbox" value="checkbox" name = "{{option}}">{{option}}</label>
              </div>
              {% endfor %} <!-- End the for loop -->
          </div>
          {% elif question['type'] == 'true_false' %}
          <label>{{question['question']['content']}}</label>
            <select class="custom-select" name="true_false" required>
              <option value = "">True or False?</option>
              <option value="True">True</option>
              <option value="False">False</option>
            </select>
            <br>
            <br>
          {% endif %}
          {% endfor %}
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
</body>