<!DOCTYPE html>
<html lang="en">

<head>
  <title>FBLA quiz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav ml-auto">
      <button class="btn btn-outline-primary">
        <a class="nav-link" href="/">Exit Quiz</a>
      </button>
    </ul>
  </nav>
  <br> 

    <form class = "col-lg-6 offset-lg-3" action="/takequiz" method="POST">
      {% for question in questions %}
        {% if question['type'] == 'mult_choice' %}
        <div class = "form-group">
          <label>Question Name</label>
            <select class="custom-select" name="Question1">
              <option selected>Choose an answer</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
        </div>
        {% elif question['type'] == 'fillblank' %}
        <div class="form-group">
          <label>testblank</label>
          <input type= "text" class="form-control" name= "Answer1" placeholder="Fill in the blank">
        </div>
          {% elif question['type'] == 'checkbox' %}
          <div class="form-group">
            <label>checkbox</label>
              <div class="checkbox">
                <label><input type="checkbox" value="1" name = " Option1">Option 1</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="2" name = " Option2">Option 2</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="3" name = " Option3">Option 1</label>
              </div> 
          </div>
          {% elif question['type'] == 'true_false' %}
          <label>Question Name</label>
            <select class="custom-select" name="Question1">
              <option selected>True or False?</option>
              <option value="True">True</option>
              <option value="False">False</option>
            </select>
            <br>
            <br>
          {% endif %}
          {% endfor %}
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </body>