<!DOCTYPE html>
<html lang="en">

<head>
  <title>FBLA Quizzer Settings</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script type = "text/javascript" src ="{{url_for('static', filename = 'validation.js')}}"></script>
</head>

<body>
    <h1 class = "display-3">FBLA Quizzer Settings</h1>
      <div class = "col-lg-6 offset-lg-2">
        <form action="/settings" method="POST">
            <div class="form-group">
              <label><p class = "lead">Email</p></label>
              <input type="text" class="form-control-plaintext" name= "Username"  id="exampleInputEmail1" value="{{prefs['Username'][0]}}" readonly>
            </div>
            <div class="form-group">
            <label><p class="lead">Name: What you want your name to show as</p></label>
            <input type="text" class="form-control" name= "Name" value="{{prefs['Name'][0]}}">
            </div>
            <div class="form-group">
                <label>
                    <p class = "lead">Quiz reports:
                    Check below what to include in quiz reports.</p>
                </label> 
                {% if 'checkbox' in prefs.keys() %}
                  {% for key, value in include_in_quiz_checkbox.items() %}
                  {% if key == 'showcorrectanswer' %}
                      <label>
                        <p3 class = "lead">Include the correct answer for:</p>
                      </label>
                      {% endif %} 
                    {% if key in prefs['checkbox'] %}
                            
                      <div class="checkbox">
                          <label class = "btn btn-default active"><input type="checkbox" value="checkbox" name = "{{key}}" checked>{{value}}</label>
                      </div>
                    {% else %}
                    <div class="checkbox">
                      <label class = "btn btn-default active"><input type="checkbox" value="checkbox" name = "{{key}}">{{value}}</label>
                    </div>
                    {% endif %}
                  {% endfor %}

                  {% else %}

                    {% for key, value in include_in_quiz_checkbox.items() %}
                      {% if key == 'showcorrectanswer' %}
                          <label>
                            <p3 class = "lead">Include the correct answer for:</p>
                          </label>
                      {% endif %}
                       
                        <div class="checkbox">
                          <label class = "btn btn-default active"><input type="checkbox" value="checkbox" name = "{{key}}">{{value}}</label>
                        </div>
                    {% endfor %}
                {% endif %}
                
                <div>
                  <input type="number" name="font" min="5" max="40" value="{{prefs['font'][0]}}">
                </div>
          </div>
            <button onclick = "alert('Settings Updated!')"type="submit" class="btn btn-primary">Update Settings</button>
        </form>
    </div>
</body>