<!DOCTYPE html>
<html lang="en">

<head>
  <title>FBLA Quizzer Settings</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script type = "text/javascript" src ="{{url_for('static', filename = 'validation.js')}}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav ml-auto">
          <button class="btn btn-outline-primary">
            <a class="nav-link" href="/">Exit Quiz</a>
          </button>
        </ul>
      </nav>
      <br> 
      
    <h3 class="display-4" style="text-align:center;">FBLA Quizzer Settings</h3>

    <br>
    <br>

    <div class = "col-lg-6 offset-lg-3">
        <form action="/updatesettings" method="POST">
            <div class="form-group">
            <label><p class = "lead">Email</p></label>
            <input type="text" class="form-control-plaintext" name= "Username"  id="exampleInputEmail1" value="{{email}}" readonly>
            </div>
            <div class="form-group">
            <label><p class="lead">Name: What you want your name to show as</p></label>
            <input type="text" class="form-control" name= "Name" value="{{name}}">
            </div>
            <div class="form-group">
                <label>
                    <p class = "lead">Quiz reports:
                    Check below what to include in quiz reports.</p>
                </label>        
                <div class="checkbox">
                    <label class = "btn btn-default active"><input type="checkbox" value="checked" name = "q_number"> Question numbers</label>
                </div>
                <div class="checkbox">
                  <label class = "btn btn-default active"><input type="checkbox" value="checked" name = "show_name"> Your Name</label>
                </div>
                <div class="checkbox">
                  <label class="btn btn-default active"><input type="checkbox" value="checked" name = "time"> Time submitted</label>
                </div>
                <div>
                  <input type="number" name="font" min="10" max="20" value="{{}}">
                </div>
                <div class="form-group">
                  <label>
                    <p3 class = "lead">Include the correct answer for:</p>
                  </label> 
                  <div class="checkbox">
                    <label class="btn btn-default active"><input type="checkbox" value="checked" name = "showcorrectanswer"> Correct Answers</label>
                  </div>
                  <div class="checkbox">
                    <label class="btn btn-default active"><input type="checkbox" value="checked" name = "showwronganswer"> Wrong Answers</label>
                  </div>
                </div>
          </div>
            <button type="submit" class="btn btn-primary">Update Settings</button>
        </form>
    </div>
</body>